*
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

#owl
{
	display: grid;
	height: 100%;
	place-items: center;
	text-align: center;
	background: #f2f2f2;
	padding-bottom: 75px;
}

#owl h1
{
	font-weight: bold;
	color: #297FCF;
	margin-top: 50px;
	margin-bottom: 60px;
}

.slider
{
	max-width: 1150px;
	display: flex;
}

.slider .card
{
	background: #fff;
	flex: 1;
	margin: 0 10px;
}

.slider .card .img
{
	height: 200px;
	width: 100%;
}
.slider .card .img img
{
	height: 100%;
	width: 100%;
	object-fit: cover;
	cursor: pointer;
}

.slider .card .content
{
	padding: 10px 20px;
}
.card .content .title
{
	font-size: 25px;
	font-weight: 600;
}
.card .content .sub-title
{
	font-size: 20px;
	font-weight: 600;
	color: #297FCF;
	line-height: 20px;
}
.card .content p
{
	text-align: justify;
	margin: 10px 0;
}
/*.card .content .btn
{
	display: block;
	text-align: left;
	margin: 10px 0;
}
*/  
.card .content button
{
	background: #297FCF;
	color: #fff;
	border: none;
	outline: none;
	font-size: 17px;
	padding: 5px 8px;
	border-radius: 5px;
	display: block;
	text-align: left;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.2s;
}

.card .content button:hover
{
	transform: scale(0.9);
}
/*End Owl Section*/

#daterangepicker
{
	padding-bottom: 110px;
	background: #555453;
	margin-top: -20px;
}

#daterangepicker h1
{
	font-weight: bold;
	text-align: center;
	margin-left: -121px;
	color: #90AC76;
	padding-top: 85px;
	margin-bottom: -60px;
}
#daterangepicker h2
{
	font-weight: bold;
	text-align: center;
	margin-left: 784px;
	color: #90AC76;
	margin-bottom: 50px;
	font-size: 36px;
}
#daterangepicker h3
{
	font-weight: bold;
	text-align: center;
	color: #90AC76;
	margin-bottom: 50px;
	font-size: 36px;
	margin-top: -15px;
}
#daterangepicker img
{
	width: 300px;
	margin-top: -60px;
    margin-left: 50px;
}
#pickr,
#picker,
#pick
{
	background: #fff;
	cursor: pointer;
	padding: 5px 10px;
	border: 1px solid #ccc;
	width: 100%;
}

#pickr
{
	margin-bottom: 120px;
}

/*End Section*/

#selectbox h1
{
	font-weight: bold;
	color: #585858;
	padding-top: 50px;
	text-align: center;
	margin-bottom: 50px;
}

#selectbox
{
	background: #0D0D0D;
	margin-top: -20px;
	padding-bottom: 80px;
}

#spectrum
{
	background: #959395;
	padding-bottom: 80px;
	margin-top: -30px;
}

#spectrum h1
{
	font-weight: bold;
	font-size: 27px;
	color: #92FE77;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 50px;
}

